/*** Upload ****/
.upload-box {
    min-height: 133px;
    border: 1px solid silver;
    position: relative;
    background: url("/img/uploader_text.png") no-repeat scroll center center;
    background-size: 40px 50px;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05) inset;
}